<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.knowyou.cloud.sys.dao.VideoApplyMapper">
  <resultMap id="BaseResultMap" type="com.knowyou.cloud.sys.model.mobilebox.VideoApply">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="province_id" jdbcType="INTEGER" property="provinceId" />
    <result column="city_id" jdbcType="INTEGER" property="cityId" />
    <result column="district_id" jdbcType="INTEGER" property="districtId" />
    <result column="date" jdbcType="TIMESTAMP" property="date" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="val" jdbcType="INTEGER" property="val" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, province_id, city_id, district_id, date, name, val
  </sql>
  <select id="selectByExample" parameterType="com.knowyou.cloud.sys.model.mobilebox.VideoApplyExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from t_video_apply
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
    <if test="limitStart != null and limitStart>=0">
      limit #{limitStart} , #{limitEnd}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_video_apply
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from t_video_apply
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.knowyou.cloud.sys.model.mobilebox.VideoApplyExample">
    delete from t_video_apply
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.knowyou.cloud.sys.model.mobilebox.VideoApply">
    insert into t_video_apply (id, province_id, city_id, 
      district_id, date, name, 
      val)
    values (#{id,jdbcType=INTEGER}, #{provinceId,jdbcType=INTEGER}, #{cityId,jdbcType=INTEGER}, 
      #{districtId,jdbcType=INTEGER}, #{date,jdbcType=TIMESTAMP}, #{name,jdbcType=VARCHAR}, 
      #{val,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.knowyou.cloud.sys.model.mobilebox.VideoApply">
    insert into t_video_apply
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="provinceId != null">
        province_id,
      </if>
      <if test="cityId != null">
        city_id,
      </if>
      <if test="districtId != null">
        district_id,
      </if>
      <if test="date != null">
        date,
      </if>
      <if test="name != null">
        name,
      </if>
      <if test="val != null">
        val,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="provinceId != null">
        #{provinceId,jdbcType=INTEGER},
      </if>
      <if test="cityId != null">
        #{cityId,jdbcType=INTEGER},
      </if>
      <if test="districtId != null">
        #{districtId,jdbcType=INTEGER},
      </if>
      <if test="date != null">
        #{date,jdbcType=TIMESTAMP},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="val != null">
        #{val,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.knowyou.cloud.sys.model.mobilebox.VideoApplyExample" resultType="java.lang.Long">
    select count(*) from t_video_apply
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update t_video_apply
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.provinceId != null">
        province_id = #{record.provinceId,jdbcType=INTEGER},
      </if>
      <if test="record.cityId != null">
        city_id = #{record.cityId,jdbcType=INTEGER},
      </if>
      <if test="record.districtId != null">
        district_id = #{record.districtId,jdbcType=INTEGER},
      </if>
      <if test="record.date != null">
        date = #{record.date,jdbcType=TIMESTAMP},
      </if>
      <if test="record.name != null">
        name = #{record.name,jdbcType=VARCHAR},
      </if>
      <if test="record.val != null">
        val = #{record.val,jdbcType=INTEGER},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update t_video_apply
    set id = #{record.id,jdbcType=INTEGER},
      province_id = #{record.provinceId,jdbcType=INTEGER},
      city_id = #{record.cityId,jdbcType=INTEGER},
      district_id = #{record.districtId,jdbcType=INTEGER},
      date = #{record.date,jdbcType=TIMESTAMP},
      name = #{record.name,jdbcType=VARCHAR},
      val = #{record.val,jdbcType=INTEGER}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.knowyou.cloud.sys.model.mobilebox.VideoApply">
    update t_video_apply
    <set>
      <if test="provinceId != null">
        province_id = #{provinceId,jdbcType=INTEGER},
      </if>
      <if test="cityId != null">
        city_id = #{cityId,jdbcType=INTEGER},
      </if>
      <if test="districtId != null">
        district_id = #{districtId,jdbcType=INTEGER},
      </if>
      <if test="date != null">
        date = #{date,jdbcType=TIMESTAMP},
      </if>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="val != null">
        val = #{val,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.knowyou.cloud.sys.model.mobilebox.VideoApply">
    update t_video_apply
    set province_id = #{provinceId,jdbcType=INTEGER},
      city_id = #{cityId,jdbcType=INTEGER},
      district_id = #{districtId,jdbcType=INTEGER},
      date = #{date,jdbcType=TIMESTAMP},
      name = #{name,jdbcType=VARCHAR},
      val = #{val,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
  
  <select id="selectByExampleGroupName" parameterType="com.knowyou.cloud.sys.model.mobilebox.VideoApplyExample" resultMap="BaseResultMap">
    select name, sum(val) val from t_video_apply
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    group by name
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
    <if test="limitStart != null and limitStart>=0">
      limit #{limitStart} , #{limitEnd}
    </if>
  </select>
  <select id="selectByHourExample" parameterType="com.knowyou.cloud.sys.model.mobilebox.VideoTypeExample" resultMap="BaseResultMap">
    select DATE_FORMAT(date,'%Y%m%d %h') hours, sum(val) val, name, MAX(date) date from t_video_apply
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    group by hours, name
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByDayExample" parameterType="com.knowyou.cloud.sys.model.mobilebox.VideoTypeExample" resultMap="BaseResultMap">
    select DATE_FORMAT(date,'%Y%m%d') days, sum(val) val, name, MAX(date) date from t_video_apply
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    group by days, name
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
   <select id="selectByMonthExample" parameterType="com.knowyou.cloud.sys.model.mobilebox.VideoTypeExample" resultMap="BaseResultMap">
    select DATE_FORMAT(date,'%Y%m') months, sum(val) val, name, MAX(date) date from t_video_apply
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    group by months, name
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
</mapper>