<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.knowyou.cloud.sys.dao.VideoKaResonMapper">
  <resultMap id="BaseResultMap" type="com.knowyou.cloud.sys.model.mobilebox.VideoKaReson">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="province_id" jdbcType="INTEGER" property="provinceId" />
    <result column="city_id" jdbcType="INTEGER" property="cityId" />
    <result column="district_id" jdbcType="INTEGER" property="districtId" />
    <result column="date" jdbcType="TIMESTAMP" property="date" />
    <result column="net_bandwidth" jdbcType="INTEGER" property="netBandwidth" />
    <result column="bandwidth" jdbcType="INTEGER" property="bandwidth" />
    <result column="gateway_err" jdbcType="INTEGER" property="gatewayErr" />
    <result column="server_err" jdbcType="INTEGER" property="serverErr" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, province_id, city_id, district_id, date, net_bandwidth, bandwidth, gateway_err, 
    server_err
  </sql>
  <select id="selectByExample" parameterType="com.knowyou.cloud.sys.model.mobilebox.VideoKaResonExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from t_video_ka_reson
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_video_ka_reson
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from t_video_ka_reson
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.knowyou.cloud.sys.model.mobilebox.VideoKaResonExample">
    delete from t_video_ka_reson
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.knowyou.cloud.sys.model.mobilebox.VideoKaReson">
    insert into t_video_ka_reson (id, province_id, city_id, 
      district_id, date, net_bandwidth, 
      bandwidth, gateway_err, server_err
      )
    values (#{id,jdbcType=INTEGER}, #{provinceId,jdbcType=INTEGER}, #{cityId,jdbcType=INTEGER}, 
      #{districtId,jdbcType=INTEGER}, #{date,jdbcType=TIMESTAMP}, #{netBandwidth,jdbcType=INTEGER}, 
      #{bandwidth,jdbcType=INTEGER}, #{gatewayErr,jdbcType=INTEGER}, #{serverErr,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.knowyou.cloud.sys.model.mobilebox.VideoKaReson">
    insert into t_video_ka_reson
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="provinceId != null">
        province_id,
      </if>
      <if test="cityId != null">
        city_id,
      </if>
      <if test="districtId != null">
        district_id,
      </if>
      <if test="date != null">
        date,
      </if>
      <if test="netBandwidth != null">
        net_bandwidth,
      </if>
      <if test="bandwidth != null">
        bandwidth,
      </if>
      <if test="gatewayErr != null">
        gateway_err,
      </if>
      <if test="serverErr != null">
        server_err,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="provinceId != null">
        #{provinceId,jdbcType=INTEGER},
      </if>
      <if test="cityId != null">
        #{cityId,jdbcType=INTEGER},
      </if>
      <if test="districtId != null">
        #{districtId,jdbcType=INTEGER},
      </if>
      <if test="date != null">
        #{date,jdbcType=TIMESTAMP},
      </if>
      <if test="netBandwidth != null">
        #{netBandwidth,jdbcType=INTEGER},
      </if>
      <if test="bandwidth != null">
        #{bandwidth,jdbcType=INTEGER},
      </if>
      <if test="gatewayErr != null">
        #{gatewayErr,jdbcType=INTEGER},
      </if>
      <if test="serverErr != null">
        #{serverErr,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.knowyou.cloud.sys.model.mobilebox.VideoKaResonExample" resultType="java.lang.Long">
    select count(*) from t_video_ka_reson
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update t_video_ka_reson
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.provinceId != null">
        province_id = #{record.provinceId,jdbcType=INTEGER},
      </if>
      <if test="record.cityId != null">
        city_id = #{record.cityId,jdbcType=INTEGER},
      </if>
      <if test="record.districtId != null">
        district_id = #{record.districtId,jdbcType=INTEGER},
      </if>
      <if test="record.date != null">
        date = #{record.date,jdbcType=TIMESTAMP},
      </if>
      <if test="record.netBandwidth != null">
        net_bandwidth = #{record.netBandwidth,jdbcType=INTEGER},
      </if>
      <if test="record.bandwidth != null">
        bandwidth = #{record.bandwidth,jdbcType=INTEGER},
      </if>
      <if test="record.gatewayErr != null">
        gateway_err = #{record.gatewayErr,jdbcType=INTEGER},
      </if>
      <if test="record.serverErr != null">
        server_err = #{record.serverErr,jdbcType=INTEGER},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update t_video_ka_reson
    set id = #{record.id,jdbcType=INTEGER},
      province_id = #{record.provinceId,jdbcType=INTEGER},
      city_id = #{record.cityId,jdbcType=INTEGER},
      district_id = #{record.districtId,jdbcType=INTEGER},
      date = #{record.date,jdbcType=TIMESTAMP},
      net_bandwidth = #{record.netBandwidth,jdbcType=INTEGER},
      bandwidth = #{record.bandwidth,jdbcType=INTEGER},
      gateway_err = #{record.gatewayErr,jdbcType=INTEGER},
      server_err = #{record.serverErr,jdbcType=INTEGER}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.knowyou.cloud.sys.model.mobilebox.VideoKaReson">
    update t_video_ka_reson
    <set>
      <if test="provinceId != null">
        province_id = #{provinceId,jdbcType=INTEGER},
      </if>
      <if test="cityId != null">
        city_id = #{cityId,jdbcType=INTEGER},
      </if>
      <if test="districtId != null">
        district_id = #{districtId,jdbcType=INTEGER},
      </if>
      <if test="date != null">
        date = #{date,jdbcType=TIMESTAMP},
      </if>
      <if test="netBandwidth != null">
        net_bandwidth = #{netBandwidth,jdbcType=INTEGER},
      </if>
      <if test="bandwidth != null">
        bandwidth = #{bandwidth,jdbcType=INTEGER},
      </if>
      <if test="gatewayErr != null">
        gateway_err = #{gatewayErr,jdbcType=INTEGER},
      </if>
      <if test="serverErr != null">
        server_err = #{serverErr,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.knowyou.cloud.sys.model.mobilebox.VideoKaReson">
    update t_video_ka_reson
    set province_id = #{provinceId,jdbcType=INTEGER},
      city_id = #{cityId,jdbcType=INTEGER},
      district_id = #{districtId,jdbcType=INTEGER},
      date = #{date,jdbcType=TIMESTAMP},
      net_bandwidth = #{netBandwidth,jdbcType=INTEGER},
      bandwidth = #{bandwidth,jdbcType=INTEGER},
      gateway_err = #{gatewayErr,jdbcType=INTEGER},
      server_err = #{serverErr,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>